@model DAL.EF.Entities.Exhibit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exhibit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collection.CollectionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ExhibitId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
