@model IEnumerable<DAL.EF.Entities.Exhibit>

@{
    ViewData["Title"] = "Products";
}


<h1>Products</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    <p>
        @Html.DropDownList("Category", (SelectList)ViewBag.Country, "All", new { @class = "form-control" })
        <input type="submit" value="Filter" />
    </p>
}
</p>
<div>
    <a asp-action="ProsseccFile">Create By File</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection)
            </th>
            <th>
                @Html.ActionLink("CreatedYear", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Materials)
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Collection)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CreationYear)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Type)
                <th>
                <th>
                    @Html.DisplayFor(modelItem => item.Cost)
                <th>
                <th>
                    @Html.DisplayFor(modelItem => item.Direction)
                <th>
                <th>
                    @Html.DisplayFor(modelItem => item.Materials)
                <th>
                <th>
                    @Html.DisplayFor(modelItem => item.Country)
                <th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExhibitId">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.ExhibitId">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.ExhibitId">Delete</a>
            </tr>
        }
</table>
