@model IEnumerable<DAL.EF.Entities.Collection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.ActionLink("StartTime", "Index", new { sortOrder = ViewBag.StartDateSortParm })

            </th>
            <th>
                @Html.ActionLink("EndTime", "Index", new { dateSort = ViewBag.EndDateSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CollectionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CollectionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CollectionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
