@model IEnumerable<DAL.EF.Entities.PopCollection>

@{
    ViewData["Title"] = "PopularCollection";
}

<h1>PopularCollection</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Collection.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Collection.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Collection.StartTime)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Collection.EndTime)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
